*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.scene {
    display: inline-block;
    width: 200px;
    height: 260px;
  
    margin: 10px 5px;
    perspective: 600px;
  }
  
.card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}
  
.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}
  
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}
  
.card__face--front {
    background: crimson;
}
  
.card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
}

.card__face--back img {
    width: 100%;
    height: 100%;
}


.startGame{
    position: relative;
    right: 60px;
}

.live-icon{
    color: red;
    text-shadow: 0 0 5px #000;
}